*{box-sizing: border-box}
html,body{
    height: 100%;
    overflow: hidden;
}
body{
    margin:0;
    color:#333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    background-color: #CFD8DC;
    line-height: 1.45;
}
h1,h2,h3,h4,h5,h6,p{
    margin-top:0;
}
button,input{
    outline:none;
}
button{
    border:1px solid #B0BEC5;
    background-color: #B0BEC5;
    color:#fff;
    padding:5px 10px;
    font-size:0.8em;
    cursor: pointer;
}

a{
    color:#1565C0;
}

.textarea{
    width:100%;
    background-color: #fff;
    padding:5px 5px 15px 5px;
    font-family: 'Fira Mono','Monaco',monospace;
    resize:none;
    border:1px solid #B0BEC5;
    white-space:pre;
}




#app{
    display:flex;
    height: 100%;
    flex-grow:0;
}
.sidebar{
    width:110px;
    background-color: #222b2f;
    height: 100%;
    flex-shrink:0;
}
.sidebar__logo{
    display: block;
    padding-top:1em;
    height:160px;
}
.sidebar__logo svg{
    fill:#607D8B;
}
.sidebar__menu{
    width: 100%;
}
.sidebar__menu a{
    display: block;
    margin:0 auto;
    width:60px;
    height:60px;
    background-color: #607D8B;
    border-radius: 1000px;
    display: flex;
    justify-content:center;
    align-items:center;
    text-decoration: none;
    color:#B0BEC5;
    font-size:23px;
    margin-bottom:1em;
    fill:#B0BEC5;
}
.sidebar__menu a svg{
    width:30px;
}
.sidebar__menu a.active{
    background-color:#B0BEC5;
    fill:#607D8B;
    color:#607D8B;
}
.main{
    flex:auto;
    overflow: hidden;
    height:100%;
}
.body{
    height:100%;
}

.body-title{
    font-size:3em;
    display:table-cell;
    vertical-align: bottom;
    height:135px;
    color:#263238;
}
.body-title--pad{
    padding-left:2rem;
}
.body-title__link{
    font-size:14px;
    text-decoration: none;
    margin-left:1rem;
    height:100%;
}
.body-title__link svg{
    width:20px;
}

.body-menu{
    margin-top: 24px;
    color:#37474F;

    animation: animationFrames ease-in-out 0.4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease-in-out 0.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames ease-in-out 0.4s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
}
.body-menu__item{
    font-size:1.4em;
    padding-top: 0px;
    height: 60px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}




@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(-20px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }

}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,0px)  ;
  }
  18% {
    opacity:0;
    -moz-transform:  translate(13px,0px)  ;
  }
  79% {
    opacity:1;
    -moz-transform:  translate(58px,0px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(58px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,0px)  ;
  }
  18% {
    opacity:0;
    -webkit-transform:  translate(13px,0px)  ;
  }
  79% {
    opacity:1;
    -webkit-transform:  translate(58px,0px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(58px,0px)  ;
  }
}


.body-index{
    padding-left: 2em;
}
.body-generic, .body-board{
    overflow: scroll;
    padding-bottom:1em;
}
.body__inner{
    padding-left: 2em;
    padding-right: 2em;
}


.cards{
    padding:1em 2em 0;
}
.card{
    position: relative;
    margin-bottom:2em;
    border-radius: 2px;
    padding:0.7em 1em 0.8em 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #fff;
}

.card--error .card__body{
    color:#E53935;
}
.card__tools{
    opacity:0;
    float:right;
}
.card:hover .card__tools{
    opacity: 1;
}
.card__tools button{
    background-color: #90A4AE;
    border:none;
    border-radius: 99px;
    cursor: pointer;
    outline:none;
}
.card__query{
    height:0;
    overflow: hidden;
}
.card__query--open{
    height:auto;
    margin-bottom:1em;
}

.card-count__count{
    font-size:3em;
}





table{
    width:100%;
}
table th{
    padding:5px 7px;
    text-align: left;
}
table tr{}
table td{
    border-top:1px solid #ccc;
    padding:5px 7px;
}




.top{
    background-color: #B0BEC5;
    padding:1em 2em;
    margin-bottom:1em;
    position: relative;
    margin-top:1em;
}
.vars{
    display: flex;
}
.var{
    display: inline-flex;
    background: #78909C;
    color:rgba(255, 255, 255, 0.7);
    font-family: Consolas,monaco,monospace;
    padding:0.7em 0.9em 0.3em;
    border-radius: 5px;
    line-height: 1;
    margin-right:1em;
}
.var input{
    background: transparent;
    border:none;
    font-family: Consolas,monaco,monospace;
    color:#fff;
    outline:none;
    font-size: 1em;
    width: 5em;
    position: relative;
    top:-2px;
}
.reload{
    width:36px;
    height:36px;
    font-size:1.1em;
    text-indent: 2px;
    color:#fff;
    line-height: 1;
    border-radius: 99px;
    border:none;
    background-color: #455A64;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}





.console{
    display: flex;
    height: 100%;
    flex-grow:0;
}
.console__tables{
    width:220px;
    height:100%;
    background-color: #607D8B;
    overflow: hidden;
    flex-shrink:0;
}
.console__main{
    display: flex;
    width: calc(100% - 220px);
    flex-grow:0;
    flex-direction:column;
}
.console__query{
    height: 130px;
    position: relative;
    flex-shrink:0;
}
.console__query .textarea{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.console__cards{
    padding:1em;
    flex-grow:0;
    overflow-y:scroll;
}

.table-list{
    height: 100%;
}
.table-list__search{
    padding:0 10px;
}
.table-list__search input{
    width:100%;
    margin:10px auto;
    border-radius: 30px;
    border:none;
    font-size:1em;
    padding:3px 5px;
    background-color: #ECEFF1;
    color:#263238;
}
.table-list__tables{
    transform: translate(0px, -15px);
    opacity: 0.15;
    transition: transform 0.3s cubic-bezier(0.17, 0.8, 0.5, 0.94);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}
.table-list__scroll{
    padding-bottom: 50px;
}
.table-list__tables--loaded{
    opacity: 1;
    transform: translate(0px, 0px);
}
.table-list__table{
    font-size:0.8em;
    color:#CFD8DC;
    cursor:pointer;
    padding:0 10px;
}
.table-list__table:hover{
    background-color: #455A64;
}


.query-box{
    position: relative;
    height:100%;
}

.query-box__submit{
    position: absolute;
    bottom:0;
    right:0;
    border:1px solid #B0BEC5;
    background-color: #B0BEC5;
    color:#fff;
    padding:5px 10px;
    font-size:0.8em;
    cursor: pointer;
}




.result-card__table{
    overflow: auto;
}
.result-card__close{
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
    font-weight: bold;
    padding: 3px 9px;
    cursor: pointer;
    font-size: 18px;
}
.result-card table{border-right:1px solid #888;border-top:1px solid #888;font-size:0.8em;width:auto;}
.result-card table td,
.result-card table th{border-left:1px solid #888;border-bottom:1px solid #888;padding:3px;border-top:0}
.result-card table th{background:#BBB;font-wieght:bold;text-align:center;}
.result-card table tr{background:#EEE;}
.result-card table td{vertical-align: top}
.result-card table tr.odd{background:#DDD;}
.result-card table tr.is-deleted{text-decoration:line-through;}
.result-card table tr.is-hidden td{color:rgba(51,51,51,0.5);}

.result-card__count span{
    font-size: 1.4em;
}
.result-card__query{
    font-family: 'Fira Mono', Monaco, monospace;
    font-size:0.8em;
    opacity: 0.8;
    margin-bottom: 5px;
    cursor:pointer;
}
.result-card__error{
    color: #a94442;
    background-color: #f2dede;
    border:1px solid #ebccd1;
    border-radius: 2px;
    padding:0.2em 0.5em;
    font-size:0.8em;
}

.result-card__loader-spacer{
    padding-top:0.4em;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.loader{
    width:30px;
    height:30px;
    border:5px solid transparent;
    border-right:5px solid #03A9F4;
    border-left:5px solid #03A9F4;
    border-radius: 100px;

    -webkit-animation: rotating 0.7s linear infinite;
    -moz-animation: rotating 0.7s linear infinite;
    -ms-animation: rotating 0.7s linear infinite;
    -o-animation: rotating 0.7s linear infinite;
    animation: rotating 0.7s linear infinite;
}



.table-context-menu{
    position: absolute;
    display: none;
    font-size:0.8em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 220px;
    overflow: hidden;
    background-color: #607D8B;
}


.table-context-menu__search{
    padding:0 10px;
}
.table-context-menu__search input{
    width:100%;
    margin:10px auto;
    border-radius: 30px;
    border:none;
    font-size:1em;
    padding:3px 5px;
    background-color: #ECEFF1;
    color:#263238;
}
.table-context-menu__selected-table{
    background: #CFD8DC;
    padding: 3px 10px 1px;
    margin-bottom: 5px;
}

.table-context-menu__tables,
.table-context-menu__fields
{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.table-context-menu__table,
.table-context-menu__field
{
    color:#CFD8DC;
    cursor:pointer;
    padding:0 10px;
    position: relative;
}
.table-context-menu__field{
    padding-left:25px;
}
.table-context-menu__table:hover,
.table-context-menu__field:hover
{
    background-color: #455A64;
}
.table-context-menu__primary-key{
    position: absolute;
    width:16px;
    height:16px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 100 100"><g transform="translate(0,-952.36218)"><path style="color:%23CFD8DC;stroke:%23CFD8DC;fill:%23CFD8DC;enable-background:accumulate;" d="m 25,981.36218 c 7.97356,0 14.91261,4.4538 18.46875,11.00001 l 42.53125,0 10,9.00001 -13,11 -6,-6 -6,6 -6,-6 -6,6 -15.53125,0 c -3.55614,6.5462 -10.49519,11 -18.46875,11 -11.59793,0 -20.9999998,-9.4021 -20.9999998,-21 0,-11.59791 9.4020698,-21.00002 20.9999998,-21.00002 z m -8,16.00001 c -2.76141,0 -5,2.2386 -5,5.00001 0,2.7614 2.23859,5 5,5 2.76141,0 5,-2.2386 5,-5 0,-2.76141 -2.23859,-5.00001 -5,-5.00001 z" stroke="none" marker="none" visibility="visible" display="inline" overflow="visible"/></g></svg>');
    right:4px;
    top:1px;
    display: none;
    opacity: 0.5;
    cursor:pointer;
}
.table-context-menu__table:hover .table-context-menu__primary-key{
    display: block;
}
.table-context-menu__primary-key:hover{
    opacity: 1;
}



.boards{
    padding-left: 2em;
}
.boards table td{
    border-top-color:#B0BEC5;
}
.boards__var{
    display: inline-flex;
    background: #78909C;
    color:rgba(255, 255, 255, 0.7);
    font-family: Consolas,monaco,monospace;
    font-size: 0.8em;
    padding:5px 7px 3px;
    border-radius: 5px;
    line-height: 1;
    margin-right:1em;
}




/* D3 */
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 10px;
}

.timeline-label {
  font-family: sans-serif;
  font-size: 12px;
}






.main text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}
